* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(images/nen.png.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #0763be;
  box-shadow: 0 20px 40px rgba(63, 14, 113, 0.2);
}

.game-details {
  color: #031214;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #d3f0f1;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

.food {
  background-image: url(images/cheese.png);
  background-size: cover;
}
.head {
  background-image: url(images/heo.png);
  background-size: cover;
}
.bigfood{
  background-image: url(images/hamburger.png);
  background-size: cover;
}