/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden; /* Ngăn thanh cuộn */
}

body {
  background-image: url(images/nen.png.png); /* Ảnh nền */
  background-size: cover; /* Phủ toàn màn hình */
  background-position: center; /* Căn giữa ảnh */
  background-attachment: fixed; /* Cố định background */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS cho dòng chữ GAME CON HEO */
#gameBox > div:first-child {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #fff; 
  text-align: center; 
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Màn hình hướng dẫn */
.instructions {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.instructions h1 {
  margin-bottom: 15px;
}

.instructions ul {
  text-align: left;
  margin: 15px 0;
  list-style-type: square;
}

.instructions button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.instructions button:hover {
  background-color: #45a049;
}

/* Vùng chơi game */
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #0763be;
  box-shadow: 0 20px 40px rgba(63, 14, 113, 0.2);
}

.game-details {
  color: #031214;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #d3f0f1;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

.food {
  background-image: url(images/cheese.png);
  background-size: cover;
}

.head {
  background-image: url(images/heo.png);
  background-size: cover;
}

.bigfood {
  background-image: url(images/hamburger.png);
  background-size: cover;
}
